.tile-highlight{
     background-image: linear-gradient(to left, #27527b, #2196f3 85%) !important;
     color: white;
     width: 100%;
     height: 40px;
 }
.tile-highlight:hover {
    background-image: linear-gradient(to left, #27527b, #2196f3 85%) !important;
    color: white;
}
@font-face {
    font-family : 'Century-Gothic';
    src: url('/fonts/Century-Gothic.ttf')  format('ttf');
}
html, body, *, .control-label {
    font-family : 'Century-Gothic',  Helvetica ,sans-serif
}
table, td,. table{
    font-family : 'Century-Gothic', Helvetica ,sans-serif
}
/*
.modal-danger {
    background: #b9151b;
    color: white !important;
}*/
.form-group.required .control-label:after {
    content: "*";
    position: absolute;
    margin-top: 4px;
    padding-left: 5px;
    color: black;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 65%;
        max-width:1200px;
    }

}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
.multiselect-container>li>a>label>input[type=checkbox] {
      margin-bottom: -5px !important;
 }
.multiselect-container{
    width: 500px;
}